<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta nsmr='viewport' content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" /> 
	<meta name='apple-touch-fullscreen' content='YES' />
	<meta name="apple-mobile-web-app-status-bar-style" content='black' />
	<title>Document</title>
	<style>
		body{
			padding: 0;
			margin:0;
			background: #333;
			overflow: hidden;

		}
		#canvas{			
			overflow: hidden;

		}
		ul,li{
			list-style: none;
			padding: 0;
			margin: 0;
			overflow: hidden;
		}
		ul li{
			display: -webkit-box;
			-webkit-box-align: center;
			-webkit-box-pack: center;

		}
	</style>
</head>
<body>
	<div id="canvas">
		<ul>
			<li style="height:568px;-webkit-transform3d(-320px,0,0);position:absolute;">
				<img width="320" src="../public/img/12750473483199.jpg" alt="">
			</li>
			<li style="height:568px;-webkit-transform3d(0px,0,0);position:absolute;">
				<img width="320" src="../public/img/11358517252e824953m.jpg" alt="">
			</li>
		</ul>
	</div>
</body>
</html>