<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>scroll</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="../public/bootstrap-3.3.5-dist/css/bootstrap.min.css">

	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="../public/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="../public/bootstrap-3.3.5-dist/js/jquery-3.1.0.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../public/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">☰</a>
				</h4>

				<div class="container">
					<div class="row">
						<h4>提供帮助编号:S004282379</h4>
					</div>
					<div class="row">
						<span>参与者:M078797909</span>
					</div>
					<div class="row">
						<span>提供帮助数据:RMB 2000.00</span>
					</div>
					<div class="row">
						<span>排队日期:2016-06-11 07:35:57</span>
					</div>
					<div class="row">
						<span>
							当前状态:
							<span>等待匹配</span>
							<span>取消挂单</span>
						</span>
					</div>
					<div class="row">
						<span>预计匹配时间:2016-06-16至2016-06-21之间</span>
					</div>
				</div>
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body container">
					 <div class="row">
					
							<div class="row">
								<div class="col-sm-6">P8987987:</div>
								<div class="col-sm-6">正等待您打款</div>
							</div>
							<div class="row">
								<div class="col-sm-6">匹配日期:</div>
								<div class="col-sm-6">2016-06-21</div>
							</div>
							<div class="row">
								<div class="col-sm-6">RMB 1000.00  参与者:M59080306</div>
								<div class="col-sm-6">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">详情</a>
								</div>
							</div>

					 </div>
					
					<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<!-- <div class="panel-heading" role="tab" id="headingThree2">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">Collapsible Group Item #3</a>
							</h4>
						</div>
						-->
						<div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
							<div class="panel-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
								<div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree3">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">Collapsible Group Item #3</a>
											</h4>
										</div>
										<div id="collapseThree3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree3">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>