<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="../public/jquery/jquery-3.1.0.min.js"></script>

	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<title>tooltips</title>
</head>
<body>
	
	<!-- <form action="">
		<label for="user">账号:</label>
		<input type="text" id="user" name="user" title="请输入账号，不少于2位！">
	</form> -->
	
	<textarea name="" id="txt1" cols="30" rows="10"></textarea>
<input type="button" value="跳转" id="subtn">
	<script>
		$('#user').tooltip();
		// confirm('是否删除')//返回值为：true 、false
		// prompt('请输入');//返回值为你输入的值
		window.onload=function(){
			$('#subtn').click(function(){

				var newwin=window.open('https://www.phodal.com/blog/every-programmer-should-know-how-seo/','_blank');
				newwin.document.write($("#txt1").val());
			})

		}
	</script>
</body>
</html>