<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" >
	<link rel="stylesheet" href="../../public/bootstrap-3.3.5-dist/css/bootstrap.min.css">

	<script type="text/javascript" src="../../public/jquery/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../../public/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<title>表格编辑</title>
</head>
<style>
	.flex-box{
		display:-webkit-flex;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 3;
		/* -webkit-transform: translate(-50%,-50%); */
		/* border-radius: 6px; */
		background:#fff;
	}
	.after{
		flex: 1;
	}
	.what{
		flex: 1;
	}
</style>
<body>
	<div class="table-responsive">
		<table class="table table-hover table-striped">
			<tr>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
				<th>5</th>
				<th>6</th>
				<th>7</th>
				<th>8</th>
				<td>
					<a href="#" >
						<span class="glyphicon glyphicon-pencil"></span> 编辑 
					</a>
					<a href="#" > 
						<span class="glyphicon glyphicon-plus"></span> 添加 
					</a>
					<a href="#"><span class="glyphicon glyphicon-remove"></span> 删除 </a>

				</td>
			</tr>

			
		</table>
	</div>


		<ul class="flex-box">
			<li class="after">@放学别走</li>
			<li class="what">&你干嘛</li>
		</ul>

	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>